html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-color: #add8e6;
  text-align: center;
  margin: 0;
  font-family: Arial; }

nav.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%; }

nav.navbar li {
  float: left; }

nav.navbar li.right {
  float: right; }

nav.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; }

nav.navbar li a:hover:not(.active) {
  background-color: #111; }

nav.navbar li a.active:hover {
  background-color: #006400; }

nav.navbar a.active {
  background-color: #4CAF50; }

div.afternav {
  margin-top: 50px; }

.card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin: 0 auto;
  margin-top: 200px; }

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

.card:hover .card-inner {
  transform: rotateY(180deg); }

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.card-front {
  background-color: red;
  color: black; }

.card-front img {
  width: 300px;
  height: 300px; }

.card-back {
  background-color: red;
  color: white;
  transform: rotateY(180deg); }

.card-back p {
  padding: 2px 16px; }

@media screen and (max-width: 500px) {
  nav.navbar li.right,
  nav.navbar li {
    float: none; }
  div.afternav {
    margin-top: 250px; } }

@media screen and (max-height: 500px) {
  .card {
    margin-top: 20px; } }

footer.downnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 0;
  width: 100%; }

footer.downnav p {
  color: white; }
