html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-color: #add8e6;
  text-align: center;
  margin: 0;
  font-family: Arial; }

div.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%; }

div.navbar li {
  float: left; }

div.navbar li.right {
  float: right; }

div.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; }

div.navbar li a:hover:not(.active) {
  background-color: #111; }

div.navbar li a.active:hover {
  background-color: #006400; }

div.navbar a.active {
  background-color: #4CAF50; }

div.afternav {
  margin-top: 45px; }

div.header {
  padding: 60px;
  background: #1abc9c;
  color: white;
  font-size: 30px; }

div.content {
  padding: 20px; }

div.card {
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 30%;
  float: left;
  margin: 15px 15px 15px 15px;
  padding-top: 1%; }

div.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

div.card div.image {
  height: 250px;
  width: 100%; }

div.card div.image img {
  width: 95%;
  height: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

div.card div.description {
  padding: 2px 16px; }

@media screen and (max-width: 1150px) {
  div.card {
    width: 45%; }
  div.card div.image img {
    width: 95%; } }

@media screen and (max-width: 800px) {
  div.card {
    width: 70%;
    margin-right: 15%;
    margin-left: 15%; }
  div.card div.image img {
    width: 85%; } }

@media screen and (max-width: 650px) {
  div.card {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%; }
  div.card div.image img {
    width: 95%; } }

@media screen and (max-width: 500px) {
  div.navbar li.right,
  div.navbar li {
    float: none; }
  div.afternav {
    margin-top: 250px; } }

div.downnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 0;
  width: 100%; }

div.downnav p {
  color: white; }
