html{
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}


body{
	background-color:#add8e6;
	text-align:center;
	margin:0;
	font-family: Arial;
}

nav.navbar{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:#333;
	position:fixed;
	top: 0;
	width: 100%;
}

nav.navbar li{
	float:left;
}

nav.navbar li.right{
	float:right;
}

nav.navbar li a{
	display:block;
	color:white;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
}

nav.navbar li a:hover:not(.active){
	background-color:#111;
}

nav.navbar li a.active:hover{
	background-color:#006400;
}

nav.navbar a.active{
	background-color:#4CAF50;
}

div.afternav{
	margin-top:50px;
}

.content{
	border:3px solid #4CAF50;
	padding:5px;
	margin:0 auto;
	width:350px;
	margin-top:100px;
	background-color:green;
}

.content::after{
	content: "";
	clear: both;
	display: table;
}

.img{
	float:right;
	width:150px;
	height:150px;
}

@media screen and (max-width: 500px){
	nav.navbar li.right,
	nav.navbar li{float:none;};
	div.afternav{margin-top:250px;};
}

footer.downnav{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:rgba(0,0,0,0.3);
	position: fixed;
	bottom: 0;
	width: 100%;
}

footer.downnav p{
	color:white;
}
